// *************
// Global Styles
// *************

html {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  overflow-x: hidden;
  min-width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex-grow: 1;
  }
}

.vanta-canvas {
  z-index: -1 !important;
}

a {
  transition: all 0.15s ease-in-out;

  &:hover,
  &:focus,
  &:active,
  &.active {
      text-decoration: none;
      color: $brick;
  }
}
